<h1>Verfügbare Produkte</h1>

<nz-carousel [nzEffect]="'scrollx'" [nzDots]="false" class="carousel">
  <!-- SLIDES-->
  <div nz-carousel-content *ngFor="let test of productsArray; let i = index">

    Seite Nummer : {{i+1}} von {{productsArray.length}}

    <nz-space nzDirection="vertical" nzSize="large">
      <nz-space-item>
      </nz-space-item>
    </nz-space>

    <nz-row nzJustify="space-around" nzAlign="middle" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">

      <nz-col *ngFor="let product of test;let x = index" [nzSpan]="4">

        <!-- SPACE between card rows -->
        <nz-space nzDirection="vertical" nzSize="large">
          <nz-space-item>

            <!--  CARD-->
            <nz-card nzHoverable [nzCover]="coverTemplate" [nzActions]="[actionEdit]">
              <!-- Components of the card-->
              <nz-card-meta nzTitle={{product.name}} nzDescription="Stückpreis: {{product.price}}€"></nz-card-meta>
            </nz-card>

            <!-- define components of the card-->
            <ng-template #coverTemplate>
              <img src="assets/img/product_{{product.id}}.jpg"
                onerror="this.onerror=null; this.src='assets/img/noImageFound.jpg'" alt="Product Image">
            </ng-template>
            <ng-template #actionEdit>

              <button class="big-button-minus" (click)="removeFromShoppingCart(product)">-</button>
              <button class="big-button-plus" (click)="intoShoppingCart(product)">+</button>

              <p>
                Produkt {{x+1}} von {{test.length}} auf dieser Seite
              </p>

            </ng-template>

          </nz-space-item>
        </nz-space>

      </nz-col>

    </nz-row>
    <button class="fixed-left" (click)="pre()">Zurück</button>
    <button class="fixed-right" (click)="next()">Vor</button>

  </div>


</nz-carousel>


<div class="footer">
  <div *ngIf="shoppingCart!=undefined" class="footer-shoppingCartContent">Warenkorb: <br>
    <div *ngFor="let product of shoppingCart">
      {{product.name}} <br>
    </div>
  </div>

  <p class="footer-shoppingCartValue">Gesamtwert: <br>
    {{shoppingCartValue}}
  </p>
  <p><button class="footer-shoppingCartBuy" (click)="buyEverythingInShoppingCart(this.shoppingCart)">KAUFEN</button>
    <br></p>

  <p><button class="footer-resetShoppingCart" (click)="resetShoppingCart()">WARENKORB
      ZURÜCKSETZEN</button></p>

</div>