/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/*
slideshow
*/
[nz-carousel-content] {
  text-align: center;
  height: 100%;
  overflow: hidden;
}

.buy-button {
  background-color: #4CAF50;
}

.buy-button :hover {
  background-color: #4CAF50;
  color: black;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  font-size: 17px;
}

.footer-shoppingCartContent {
  float: left;
  width: 40%;
}

.footer-shoppingCartValue {
  float: right;
  width: 50%;
}

.footer-shoppingCartBuy {
  float: right;
  width: 25%;
  background-color: darkgreen;
}

.footer-resetShoppingCart {
  background-color: red;
}

.carousel {
  height: 750px;
}

.big-button-plus {
  height: 75px;
  width: 75px;
  font-size: large;
}

.big-button-minus {
  height: 75px;
  width: 75px;
  font-size: large;

}

.fixed-left {
  float: left;
  height: 125px;
  width: 75px;
  font-size: large;
}


.fixed-right {
  float: right;
  height: 125px;
  width: 75px;
  font-size: large;
}
