<nz-table #basicTable [nzData]="result">
    <thead>
        <tr>
            <th>Zeitstempel</th>
            <th>Produkt-Name</th>
            <th>Buchungsbetrag</th>
            <th>Kontostand vor Transaktion</th>
            <th>Kontostand nach Transatkion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entry of result">
            <td>{{ entry.date }}</td>
            <td>{{ entry.product_name }}</td>
            <td>{{entry.product_price}}</td>
            <td>{{entry.customer_balanceBefore}}</td>
            <td>{{entry.customer_balanceAfter}}</td>
        </tr>
    </tbody>
</nz-table>