<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" *ngIf="isLoggedIn" routerLink="home">Home</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="/timestamps={{selectedCustomerId}}">Historie</a>
      </li>
      <li class="nav-item">
        <a *ngIf="isLoggedIn">Kontostand: {{selectedCustomer.balance}}€</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
      </li>
      <div class="topnav-right">

        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link" routerLink="login">Login</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
          <li class="nav-item">
            <!-- //profile ? -->
            <a href="/profile" class="nav-link" routerLink="profile">{{ username }}s Profil</a>
          </li>
          <li class="nav-item">
            <a href class="nav-link" (click)="logout()">LogOut</a>
          </li>
        </ul>

      </div>

    </ul>

  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
