ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #008cd1;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #004f71;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
