<h1>MODERATOR BOARD</h1>

<h2>Ad Hoc Team</h2>

<nz-table #basicTable [nzData]="customers">
  <thead>
    <tr>
      <th>ID</th>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Kontostand</th>
      <th>Aktionen</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers" [class.selected]="customer === selectedCustomer"
      (click)="onSelectCustomer(customer)">
      <td>{{ customer.id }}</td>
      <td>{{ customer.firstName }}</td>
      <td>{{ customer.lastName }}</td>
      <td>{{customer.balance}}</td>
      <td>
        <a (click)="showBalanceDialog(customer)">Geld aufladen</a>
      </td>
    </tr>
  </tbody>
</nz-table>


<h2>Produkt-Übersicht</h2>

<button class="btn btn-primary" (click)="showAddProductModal()">Produkt hinzufügen</button>

<nz-space nzDirection="vertical" nzSize="large">
  <nz-space-item>
  </nz-space-item>
</nz-space>


<nz-table [nzData]="products">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Stückpreis</th>
      <th>Aktionen</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products" [class.selected]="product === selectedProduct"
      (click)="onSelectProduct(product)">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>
        <a (click)="OnDeleteOneProductButtonClick(product.id)">Löschen</a>
        <br>
        <a (click)="showReplaceModal(product)">Bearbeiten</a>
      </td>
    </tr>
  </tbody>
</nz-table>


<nz-modal [(nzVisible)]="balanceVisible" nzTitle="Geld aufladen" (nzOnCancel)="handleBalanceCancel()"
  (nzOnOk)="handleBalanceOk()" [nzOkLoading]="balanceIsOkLoading">

  {{updatedCustomer.firstName}}s Kontostand : {{updatedCustomer.balance}}

  <div>
    <label>Betrag aufladen</label>
    <input [(ngModel)]="this.depositMoney" type="number">
  </div>

</nz-modal>


<nz-modal [(nzVisible)]="addProductVisible" nzTitle="Produkt hinzufügen" (nzOnCancel)="handleAddProductCancel()"
  (nzOnOk)="handleAddProductOk()" [nzOkLoading]="addProductIsOkLoading">

  <div>
    <label for="firstName">Name</label>
    <input [(ngModel)]="newProduct.name" />
  </div>

  <div>
    <label for="firstName">Stückpreis</label>
    <input [(ngModel)]="newProduct.price" />
  </div>

</nz-modal>


<nz-modal [(nzVisible)]="replaceVisible" nzTitle="Produkt bearbeiten" (nzOnCancel)="handleReplaceCancel()"
  (nzOnOk)="handleReplaceOk()" [nzOkLoading]="replaceIsOkLoading">

  <div>
    <label for="firstName">Name</label>
    <input [(ngModel)]="updatedProduct.name" />
  </div>

  <div>
    <label for="firstName">Stückpreis</label>
    <input [(ngModel)]="updatedProduct.price" />
  </div>

</nz-modal>