<h1>Profil - Nutzer Details</h1>
<div class="container" *ngIf="currentUser; else loggedOut">

  <p>
    <strong>ID:</strong>
    <br>
    {{currentUser.id}}
  </p>

  <p>
    <strong>Vorname:</strong>
    <br>
    {{selectedCustomer.firstName}}
  </p>

  <p>
    <strong>Nachname:</strong>
    <br>
    {{ selectedCustomer.lastName }}
  </p>

  <p>
    <strong>Kontostand:</strong>
    <br>
    {{ selectedCustomer.balance }}
  </p>

  <p>
    <strong>Username:</strong>
    <br>
    {{currentUser.username}}
  </p>

  <p>
    <strong>E-Mail:</strong>
    <br>
    {{ currentUser.email }}
  </p>

  <p>
    <strong>Passwort-Hash:</strong>
    <br>
    {{selectedCustomer.password}}
  </p>

  <p>
    <strong>JWT-Access-Token:</strong>
    <br>
    {{currentUser.accessToken}}
  </p>

  <strong>Rollen:</strong>
  <br>
  <ul>
    <li *ngFor="let role of currentUser.roles">
      {{ role }}
    </li>
  </ul>

</div>

<ng-template #loggedOut>
  Please login.
</ng-template>

<hr>

<div>
  <strong> Passwort ändern:</strong>
  <br>

  <input type="password" class="form-control" name="password" [(ngModel)]="this.enteredCurrentPassword" required
    minlength="6" #password="ngModel" placeholder="aktuelles Passwort" />
  <input type="password" class="form-control" name="password" [(ngModel)]="this.newPassword" required minlength="6"
    #password="ngModel" placeholder="neues Passwort" />
  <button (click)="onSubmit()">Passwort ändern</button>


</div>