<h1>User-Management</h1>

<h2>Ad Hoc Team</h2>

<button nz-button nzType="primary" (click)="showModal()">
  <span>Nutzer hinzufügen</span>
</button>

<nz-space nzDirection="vertical" nzSize="large">
  <nz-space-item>
  </nz-space-item>
</nz-space>

<nz-table #basicTable [nzData]="customers">
  <thead>
    <tr>
      <th>ID</th>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Kontostand</th>
      <th>Username</th>
      <th>E-Mail</th>
      <th>Passwort-Hash</th>
      <th>Rollen</th>
      <th>Aktionen</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers" [class.selected]="customer === selectedCustomer"
      (click)="onSelectCustomer(customer)">
      <td>{{ customer.id }}</td>
      <td>{{ customer.firstName }}</td>
      <td>{{ customer.lastName }}</td>
      <td>{{customer.balance}}</td>
      <td>{{ customer.username }}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.password}}</td>
      <td>{{customer.rolesInString}}</td>
      <td>
        <a (click)="OnDeleteOneCustomerButtonClick(customer.id)">Löschen</a>
        <br>
        <a (click)="showReplaceModal(customer)">Bearbeiten</a>
        <br>
        <a (click)="showUpdateRolesDialog(customer)">Rollen/Rechte bearbeiten</a>
        <br>
        <a (click)="showBalanceDialog(customer)">Geld aufladen</a>
        <br>
        <a (click)="showPasswordResetDialog(customer)">Passwort ändern</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Nutzer registrieren" nzFooter=null (nzOnCancel)="handleCancel()">

  <div class="col-md-12">
    <div class="card card-container">
      <!-- <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" /> -->
      <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required minlength="3"
            maxlength="20" #username="ngModel" />
          <div class="alert-danger" *ngIf="f.submitted && username.invalid">
            <div *ngIf="username.errors.required">Username wird benötigt</div>
            <div *ngIf="username.errors.minlength">
              Username muss mindestens 3 Zeichen lang sein
            </div>
            <div *ngIf="username.errors.maxlength">
              Username darf maximal 20 Zeichen lang sein
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="username">Nachname</label>
          <input type="text" class="form-control" name="username" [(ngModel)]="form.lastName" required minlength="3"
            maxlength="20" #lastName="ngModel" />
          <div class="alert-danger" *ngIf="f.submitted && lastName.invalid">
            <div *ngIf="lastName.errors.required">Nachname wird benötigt</div>
            <div *ngIf="lastName.errors.minlength">
              Nachname muss mindestens 3 Zeichen lang sein
            </div>
            <div *ngIf="username.errors.maxlength">
              Nachname darf maximal 20 Zeichen lang sein
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email">E-Mail</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
            #email="ngModel" />
          <div class="alert-danger" *ngIf="f.submitted && email.invalid">
            <div *ngIf="email.errors.required">E-Mail wird benötigt</div>
            <div *ngIf="email.errors.email">
              Keine gültige E-Mail eingegeben
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Passwort</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
            #password="ngModel" />
          <div class="alert-danger" *ngIf="f.submitted && password.invalid">
            <div *ngIf="password.errors.required">Passwort wird benötigt</div>
            <div *ngIf="password.errors.minlength">
              Passwort muss mindestens 6 Zeichen lang sein
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Rollen</label>
          <br>
          <input type="text" class="form-control" name="role" [(ngModel)]="form.role" #role="ngModel">
        </div>

        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Registrierung fehlgeschlagen!<br />{{ errorMessage }}
        </div>

        <div class="alert alert-success" *ngIf="isSuccessful">
          Nutzer erfolgreich registriert!
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block">Registrieren</button>

        </div>

      </form>

    </div>
  </div>

</nz-modal>


<nz-modal [(nzVisible)]="replaceVisible" nzTitle="Nutzer bearbeiten" (nzOnCancel)="handleReplaceCancel()"
  (nzOnOk)="handleReplaceOk()" [nzOkLoading]="replaceIsOkLoading">

  <div>
    <label for="firstName">Vorname</label>
    <input [(ngModel)]="updatedCustomer.firstName" />
  </div>

  <div>
    <label for="firstName">Nachname</label>
    <input [(ngModel)]="updatedCustomer.lastName" />
  </div>

  <div>
    <label for="firstName">Kontostand</label>
    <input [(ngModel)]="updatedCustomer.balance" readonly />
  </div>

  <div>
    <label for="firstName">Username</label>
    <input [(ngModel)]="updatedCustomer.username" />
  </div>

  <div>
    <label for="firstName">E-Mail</label>
    <input [(ngModel)]="updatedCustomer.email" />
  </div>

</nz-modal>

<nz-modal [(nzVisible)]="balanceVisible" nzTitle="Geld aufladen" (nzOnCancel)="handleBalanceCancel()"
  (nzOnOk)="handleBalanceOk()" [nzOkLoading]="balanceIsOkLoading">

  {{updatedCustomer.firstName}}s Kontostand : {{updatedCustomer.balance}}

  <div>
    <label>Betrag aufladen</label>
    <input [(ngModel)]="this.depositMoney" type="number">
  </div>

</nz-modal>


<nz-modal [(nzVisible)]="passwordResetVisible" nzTitle="Passwort ändern" (nzOnCancel)="handlePasswordResetCancel()"
  (nzOnOk)="handlePasswordResetOk()" [nzOkLoading]="passwordResetIsOkLoading">

  {{updatedCustomer.firstName}}s Passwort : {{updatedCustomer.password}}

  <div>
    <label>Neues Passwort:</label>
    <input [(ngModel)]="this.newUserPassword" type="password">
  </div>

</nz-modal>


<nz-modal [(nzVisible)]="updateRolesVisible" nzTitle="Rechte" (nzOnCancel)="handleUpdateRolesCancel()"
  (nzOnOk)="handleUpdateRolesOk()" [nzOkLoading]="updateRolesIsOkLoading">

  <label>Aktuelle Rechte:</label>

  <div *ngFor="let role of updatedCustomer.rolesInString; let i = index">
    <label>{{updatedCustomer.rolesInString[i]}}</label>
  </div>
  <br>

  <input type="text" [(ngModel)]="this.updatedRights">

</nz-modal>



<!--    MOD BOARD  -->

<h1>Produkt-Management</h1>
<h2>Produkt-Übersicht</h2>


<nz-space nzDirection="vertical" nzSize="large">
  <nz-space-item>
  </nz-space-item>
</nz-space>

<button class="btn btn-primary" (click)="showAddProductModal()">Produkt hinzufügen</button>

<nz-space nzDirection="vertical" nzSize="large">
  <nz-space-item>
  </nz-space-item>
</nz-space>


<nz-table [nzData]="products">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Stückpreis</th>
      <th>Aktionen</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products" [class.selected]="product === selectedProduct"
      (click)="onSelectProduct(product)">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>
        <a (click)="OnDeleteOneProductButtonClick(product.id)">Löschen</a>
        <br>
        <a (click)="showReplaceProductModal(product)">Bearbeiten</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal [(nzVisible)]="addProductVisible" nzTitle="Produkt hinzufügen" (nzOnCancel)="handleAddProductCancel()"
  (nzOnOk)="handleAddProductOk()" [nzOkLoading]="addProductIsOkLoading">

  <div>
    <label for="firstName">Name</label>
    <input [(ngModel)]="newProduct.name" />
  </div>

  <div>
    <label for="firstName">Stückpreis</label>
    <input [(ngModel)]="newProduct.price" />
  </div>

</nz-modal>


<nz-modal [(nzVisible)]="replaceProductVisible" nzTitle="Produkt bearbeiten" (nzOnCancel)="handleReplaceProductCancel()"
  (nzOnOk)="handleReplaceProductOk()" [nzOkLoading]="replaceProductIsOkLoading">

  <div>
    <label for="firstName">Name</label>
    <input [(ngModel)]="updatedProduct.name" />
  </div>

  <div>
    <label for="firstName">Stückpreis</label>
    <input [(ngModel)]="updatedProduct.price" />
  </div>

</nz-modal>